<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body style="background-color: #989898;">
<h3>All Users</h3>
<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>UserType</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.userType}"></td>
    <td>
      <a th:href="@{/user/delete/(id=${user.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>